nav{

  ul{
    position: relative;
    padding: 10px 0;
    &::after{
      position: absolute;
      top: -10px;
      left: -30px;
      background: #0E0A2D;
      content: "";
      height: 85px;
      width: 3000px;
      z-index: -1;
      border-bottom-left-radius: 50px;
    }
  }
  li{
    padding: 0 22px;
  }
  a{
    color: #fff !important;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 400;
  }
  
}