#portfolio-part{
  background: url(/images/portfolio_bg.jpg) no-repeat center;
  background-size: cover;
  .overlay{
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.692);
    padding: 100px 0;
    padding-bottom: 100px;
  }
  .title h2{
    text-align: center;
    color: #fff;
    opacity: 0.1;
  }
  h3{
    font-size: 36px;
    font-weight: 600;
    color: #fff;
    margin-top: -72px;
    text-align: center;
  }
  .left-big{
    width: 950px;
    display: inline-block;
    position: relative;
    z-index: 2;
    .item{
      margin-top: 100px;
      &::after{
          content: "";
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          width: 100%;
          border-radius: 15px;
          border-bottom-right-radius: 50px;
          background-image: linear-gradient( to top, rgba(0, 0, 0, 0.6) 8%, transparent 92% );
          z-index: 0;
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
      }
      img{
        border-radius: 15px;
        width: 100%;
        border-bottom-right-radius: 50px;
        position: relative;
        transform: scale(1);
        
      }
      .text{
        position: absolute;
        z-index: 1;
        h3{
          font-size: 30px;
          font-weight: 500;
          text-align: left;
          margin-left: 30px;
          margin-top: -100px;
        }
        p{
          margin-top: 0;
          font-size: 18px;
          color: #fff;
          margin-left: 30px;
        }
      }
    }
  }
  .right-big{
    width: 313px;
    position: absolute;
    right: -262px;
    bottom: 2px;
    z-index: -1;
    .item1{
      background: #5f24ef;
      padding: 50px;
      text-align: center;
      border-radius: 10px;
      border-bottom-right-radius: 50px;
      h4{
        font-size: 20px;
        font-weight: 600;
        color: #fff;
      }
      .tags{
        margin-left: 30px;
        a{
          color: #d6ccee;
          text-decoration: underline;
          font-size: 20px;
          font-weight: 600;
        }
      }
      .button{
        margin-top: 30px;
        a{
          background: rgb(111, 58, 241);
          display: inline-block;
          padding: 13px 20px ;
          padding-right: 35px;
          color: #fff;
          font-family: 'Josefin Sans', sans-serif;
          position: relative;
          box-shadow: 0px 6px 4px 0px rgba(0, 0, 0, 0.06);
        }
      }
    }
  }
  .bottom-part{
    margin-top: 50px;
    .item{
      margin: 0 15px;
      height: 400px;
      .img{
        width: 100%;
        position: relative;
      img{
        width: 100%;
        border-radius: 15px;
        height: 300px;
      }
      .img-overlay{
          background-image: linear-gradient(to top, #6122ef, transparent);
          height: 0;
          width: 100%;
          position: absolute;
          bottom: 0;
          left: 0;
          opacity: 0.7;
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          border-radius: 15px;
      }
      a{
          font-size: 23px;
          color: #fff;
          background-color: #5f24ef;
          display: inline-block;
          padding: 7px 20px;
          margin: -65px 25px;
          border-radius: 4px;
          font-weight: 600;
          -webkit-box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
          box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
          -webkit-transition: 0.3s ease-in-out;
          -o-transition: 0.3s ease-in-out;
          transition: 0.3s ease-in-out;
          position: absolute;
          font-family: 'Josefin Sans', sans-serif;
      }
    }
   }
  .slick-center{
    .img{
      .img-overlay{
        height: 100%;
     }
     a{
       background: transparent;
       box-shadow: none;
       text-decoration: underline;
     }
    }
   }
   .prev{
      color: #fff;
      font-size: 50px;
      height: 80px;
      width: 80px;
      display: block;
      background-image: linear-gradient(to bottom, #0bb6f5, #5e27f0);
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      text-align: center;
      line-height: 75px;
      border-radius: 50%;
      position: absolute;
      top: 40%;
      transform: translateY(-50%);
      border: 3px solid #fff;
      cursor: pointer;
      z-index: 999999;
      left: -115px;
      transition: 0.3s ease-in-out;
      &:hover{
        background: #fff;
        color: #5f24ef;
      }
   }
   .next{
    color: #fff;
    font-size: 50px;
    height: 80px;
    width: 80px;
    display: block;
    background-image: linear-gradient(to bottom, #0bb6f5, #5e27f0);
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    line-height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 40%;
    transform: translateY(-50%);
    border: 3px solid #fff;
    cursor: pointer;
    z-index: 999999;
    right: -115px;
    transition: 0.3s ease-in-out;
    &:hover{
      background: #fff;
      color: #5f24ef;
    }
   }
  }
}